* > {
  box-sizing: border-box;
}
html, body, button {
  font-family: 'Roboto', sans-serif;
}
li {
  display: list-item;
}
input {
  border: none;
  border-radius: .25em;
}
input:focus {
  outline-color: #3581B8;
}
@media print {
  .forms-container, .header, .header-container, .footer, .form-submit-btn-container {
    display: none !important;
  }
  .preview-container {
    width: 100% !important;
  }
}
@page {
  size: auto;
  margin: 3mm 0 0 0;
}
.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #EBE9E9;
}
#general-section {
  background-color: #342E37;
}
#educational-section {
  background-color: #342E37;
}
#professional-section {
  background-color: #342E37;
}
#skills-section {
  background-color: #342E37;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  color: #342E37;
  font-weight: 700;
  font-size: 1.5em;
  font-family: 'Ubuntu', sans-serif;
}
.header-image {
  height: 4em;
  margin-right: 1em;
}
.preview-container {
  width: 50vw;
  color: black;
  background-color: white;
  padding: 0 1em;
  margin: 1em;
}
#preview {
  font-family: 'calibri', sans-serif;
  padding: 1em;
}
.preview-section {
  margin-bottom: 1em;
}
.preview-section-header {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
}
.school-name-preview, .company-name-preview {
  font-weight: 600;
}
.forms-container {
  width: 30em;
}
.form {
  padding: 1em;
  background-color: gray;
  border-radius: .25em;
}
.header-container {
  display: flex;
  justify-content: center;
}
.github-profile-container {
  display: flex;
  justify-content: center;
}
#github-link-project {
  margin-bottom: .5em;
}
.github-profile-container > * {
  padding-right: 0.25em;
}
.github-icon {
  height: 2em;
}
.form-header {
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: .5em;
}
.form-submit-btn-container {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}
.form-entry {
  display: flex;
  flex-direction: column;
}
.btn-base {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
}
.btn-form {
  border: 1px solid black;
  border-radius: 1em;
}
.btn-preview {
  background-color: #342E37;
  border-radius: .25em;
}
#btn-print-preview {
  width: 6em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
  background-color: #342E37;
  justify-content: space-around;
  font-size: 1.25em;
}
.company-name-and-dates-preview-container {
  display: flex;
  justify-content: space-between;
}
.dates-container {
  display: flex;
}
.date-separator {
  margin: 0 .25em;
}
.educational-exp:first-child, .professional-exp:first-child, .skill:first-child {
  margin-top: .25em;
}
.educational-exp, .professional-exp, .skill {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.educational-exp, .professional-exp, .skill {
  position: relative;
}
.educational-exp, .professional-exp {
  list-style: none;
}
.skill-entry {
  height: 1.5em;
}
.educational-exp:hover, .professional-exp:hover, .skill-entry:hover {
  background-color: #DEE2D6;
}
.educational-exp:hover .btn-container, .professional-exp:hover .btn-container, .skill-entry:hover .btn-container {
  display: flex;
  width: 6em;
  justify-content: space-between;
  align-items: center;
}
.btn-edit, .btn-delete {
  height: 1em;
}
.btn-container {
  position: absolute;
  right: 15em;
  display: none;
}
.skills-list {
  margin-left: 1.25em;
}
.gpa-label {
  margin-right: .25em;
}
.card {
  margin-bottom: 1em;
}
.title {
  margin-bottom: 0;
}