* > {
  box-sizing: border-box;
}
html, body, button {
  font-family: 'Roboto', sans-serif;
}
@media print {
  .form-container, .header, .header-container, .footer, .form-submit-btn-container {
    display: none !important;
  }
  .preview-container {
    width: 100% !important;
  }
}
@page {
  size: auto;
  margin: 3mm 0 0 0;
}
.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.ui {
  display: flex;
  flex-direction: column;
}
.form-and-preview-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-image {
  height: 4em;
  margin-right: 1em;
}
.preview-container {
  width: 50vw;
  background: rgb(248, 248, 248);
  padding: 0 1em;
  margin-left: 1em;
}
#preview {
  font-family: 'calibri', sans-serif;
  padding: 0 1em;
}
.preview-section {
  margin-bottom: 1em;
}
.preview-section-header {
  text-decoration: underline;
  text-transform: uppercase;
}
.form-container {
  width: 25vw;
  min-width: 30em;
  padding: 0 1em;
}
.header-container {
  display: flex;
  justify-content: center;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5em;
  padding-top: 2em;
}
.github-profile-container {
  display: flex;
  justify-content: center;
}
.github-profile-container > * {
  padding-right: 0.25em;
}
.github-icon {
  height: 2em;
}
.form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.form-section-header {
  text-decoration: underline;
  margin-bottom: .5em;
}
.form-submit-btn-container {
  display: flex;
  justify-content: center;
}
.form-entry {
  display: flex;
  flex-direction: column;
}
.btn-base {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
}
.form-control {
  display: flex;
  justify-content: space-between;
  margin-bottom:.5em;
}